.header-container {
    background-color: lightcoral;
    grid-column: 1/-1;
    display: grid;
    justify-content: center;

    .grid-item {
        background: grey;
        display: flex;

        .flex-item-heading {
            background-color: pink;
        }

        .flex-item-logo {
            background-color: red;
        }
    }
}

.homepage-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 70px 700px 300px 100px;
    gap: 10px;
}

// .header {
//     background-color: lightcoral;
//     grid-column: 1/-1;
//     display: flex;
//     justify-content: center;

//     .header_flex {
//         font-family: arial;
//     }
// }

.navigation {
    background-color: lightcyan;
    grid-column: 1/-1;
}

.content-section {
    grid-column: 1/-1;
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px;
    gap: 10px;

    .content-1 {
        background-color: plum;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;

        .flex-container {
            display: flex;

            .flex-item {
                flex: 1;

                .flex.item1 {
                    background-color: blue;
                }

                .flex-item2 {
                    background-color: red;
                }

                .flex-item3 {
                    background-color: pink;
                }
            }
        }
    }
    .content-2 {
        background-color: plum;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .content-3 {
        background-color: plum;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.gallery {
    background-color: lightseagreen;
    grid-column: 1/-1;
}

.footer {
    background-color: pink;
    grid-column: 1/-1;
}
